@keyframes marquee-sm {
	0% { transform: translate(-180px, 0); }
	100% { transform: translate(500px, 0); }
}

@keyframes marquee-md {
	0% { transform: translate(-300px, 0); }
	100% { transform: translate(1163px, 0); }
}